.container-2 {
    font-size: 10px;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    margin-top: 71px;
}

/* form  */

#left-part {
    display: flex;
    width: 100%;
}

.sec {
    margin-bottom: 23px;
}

label {
    font-size: 15px;
}


input {
    display: block;
    border-radius: 2px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}

textarea {
    display: block;
    width: 40%;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}

.btn {
    margin-top: 10px;
    padding: 5px;
}

fieldset {
    display: flex;
    width: 100%;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
}


form {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

input,
textarea {
    width: 100% !important;
    height: 30px !important;
    padding: 10px;
}

textarea {
    height: 90px !important;
}


#personalDetails {
    width: 40%;
}

#acadmicsDetails {
    width: 40%;
}

.field-lg {
    font-size: 50px;
    text-align: center;
    padding: 10px;
}

button {
    cursor: pointer;
    width: 100%;
    background-color: var(--theme-light);
    border: none;
    border-radius: 5px;
}
button:hover{
    background-color: var(--theme-dark);
    color: white;
}

#submit {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 55px;
}

#left-part>h2,
h3,
h4 {
    font-weight: 200;
    color: var(--theme-dark);
    font-size: 20px;
}


div fieldset .pre, .btn-submit{
    padding: 10px;
    text-decoration: none;
    font-weight: 150px;
    width: 100px;
    height: 50px;
    margin: 0px;
}

/* ----------------------------------------------------- */

/* preview */

#right-part {
    font-size: 10px;
    float: right;

}

#right-part div{
    margin-bottom: 15px;
    line-height: 13px;
}

h1{
    color: black;
    margin-bottom: 5px;
}

.left .inline{
    display: inline;
}


#right-part .right-details h2{
    font-size: 15px;
    font-weight: 300;
    color: black;
    margin-bottom: 5px;
}

#right-part .right-details h3{
    font-size: 12px;
    font-weight: 200;
    color: black;
}

#right-part .right-details h4{
    font-size: 10px;
    font-weight: 200;
    color: black;
}

#domain-d{
    font-size: 13px;
    font-weight: 200;
    color: black;
}

#right-part,
.con {
    width: 600px;
    margin: auto;

}

.con {
    padding: 30px;
    display: flex;
    flex-direction: row;
    min-height: 650px;
    height: fit-content;
}

.left {
    background-color: rgb(30, 117, 38);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    color: white;
    width: 35%;
}

#right-part .left .details h2, #right-part .left .details h3{
    color: white;
    font-size: 12px;
    font-weight: 300;
    display: inline;
}

#right-part .left .details div{
    font-weight: lighter;
}

.right {
    background-color: #e5e5e5;
    display: block;
    list-style-position: inside;
    width: 65%;
}

.right div{
    color: #7a7a7a;
}



img {
    background-color: white;
    width: 100px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    height: 100px;
    border-radius: 50px;
    margin-top: 40px;
}

.details p {
    display: block;
    padding: 0.2px;
}

.right {
    padding: 30px;
}

.right-detail {
    margin: 20px;
}