body{
    height: 100vh;

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}
.resume-preview{
    width: 60% ;
    height: 80%;
    border: 2px solid red;
}