body{
    /* display: flex; */
}
.con {
    width: 80%;
    padding: 30px;
    display: flex;
    margin: auto;
    flex-direction: row;
}

h1,h2,h3,h4{
    font-weight: 400;
}

.left {
    background-color: rgb(30, 117, 38);
    padding: 1rem;
    display: block;
    width: 30%;
    color: white;
}

.right {
    background-color: #ccc;
    display: block;
    width: 70%;
    list-style-position: inside;
}

.right ul li{
    margin: 12px 0px;
}

img {
    background-color: white;
    width: 200px;
    display: block;
    margin: auto;
    height: 200px;
    border-radius: 100px;
    margin-top: 40px;
}

.details p {
    display: block;
    padding: 0.2px;
}

.right {
    padding: 20px;
}

.right-detail {
    margin: 20px;
}

h3,h4{
    display: inline;
}
.inline{
    display: inline;
    font-weight: 100;
}